# Project exclude paths
/.gradle/
/build/
!build/
build/*
!build/js/
build/js/*
!build/js/packages/
build/js/packages/*
!build/js/packages/remote/
build/js/packages/remote/*
!build/js/packages/remote/kotlin/
